@import "tailwindcss";


.name{
    
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.traffIQ{

    font-size: 45px;
    color: rgb(234, 225, 194);
}
.iq{
    color: rgb(220, 191, 235);
}
.logo{
    transform: translateY(7px);
}