#sdk-map{
    border: 2px solid;
    border-color: black;
    width: 65%;
    height: full;
    background-color: blueviolet;
    border-radius: 2rem;
}
/* .sdk{
        border: 2px solid;
    border-color: black;
    width: 777px;
    height: 777px;
    background-color: blueviolet;
} */